casa_spectrums/
catalogo_sql/
codes/
results_casted_beta/
_spectrum_documents/
llda_train_input/*.dat

Schilke_OrionSurvey.csv

dict_molecules.dat

output.dat
matches.out
matches_csv.out

consolidate_batch.sh
get_features_lenght.sh
inference_schilke.sh
inference_examples.sh
inference_all.sh
get_vocabulary_batch.sh
get_features_lenght.sh

models_frequency_expansion_*.sh

*resultados*
*test*
*backup*
