casa_spectrums/
catalogo_sql/
codes/
llda_train_input/*.dat
llda_train_input/*.sub

output*.dat
matches*.out

inference_schilke.sh
inference_examples.sh
inference_all.sh
get_vocabulary_batch.sh
get_features_lenght.sh

models_frequency_expansion_*.sh

*results_casted*
*results_shifted*

*resultados*
*test*
*backup*
