_casa_spectrums/
casa_inference.py
casa_inference_batch.py

_backup_results/

catalogo_raw/
catalogo_splat/

*hot_cores*
*boost_1_67_0*

llda_train_input/
_llda_models_basic/

output*.dat
matches*.out

test_data/

*backup*
